.div-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  /* width: 100vw; */
}

.div-container img {
  width: 800px;
  height: 500px;
}

.heading {
  font-size: 50px;
  font-weight: 500;
  color: #1c3e81;
}
.description {
  font-size: 20px;
  font-weight: 400;
}
.div-container button {
  margin-top: 50px;
  width: 220px;
  font-weight: 500;
  height: 40px;
  border: none;
  color: white;
  background-color: #0a81ab;
  border-radius: 8px;
}
.div-container button:hover {
  background-color: #1c3e81;
}
.imageContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.493); */
  transition: background 0.5s ease;
}

.imageContainer:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.582);
}

.title {
  position: absolute;
  width: 800px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(253, 253, 253);
  z-index: 1;
  transition: top 0.5s ease;
}

.imageContainer:hover .title {
  top: 50px;
  color: rgb(113, 174, 189);
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.imageContainer:hover .button {
  opacity: 1;
}

@media (max-width: 768px) {
  .div-container {
    flex-direction: column;
  }
  .imageContainer {
    display: none;
  }
  .heading {
    font-size: 40px;
    font-weight: 500;
  }
  .description {
    font-size: 20px;
    font-weight: 400;
  }
}
