.div-container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: white; */
  border-radius: 10px;
  margin-bottom: 20px;
}

.div-container img {
  width: 500px;
  height: 500px;
}

.heading {
  font-size: 50px;
  font-weight: 500;
  color: #1c3e81;
}
.description {
  font-size: 20px;
  font-weight: 400;
}
.div-container button {
  margin-top: 50px;
  width: 220px;
  font-weight: 500;
  height: 40px;
  border: none;
  color: white;
  background-color: #0a81ab;
  border-radius: 8px;
}
.div-container button:hover {
  background-color: #1c3e81;
}

@media (max-width: 768px) {
  .div-container {
    flex-direction: column;
  }
  .imageContainer {
    display: none;
  }
  .heading {
    font-size: 40px;
    font-weight: 500;
  }
  .description {
    font-size: 20px;
    font-weight: 400;
  }
}
