.packages-card {
  display: flex;
  justify-content: space-around;
  margin: 30px 50px;
}

@media (max-width: 768px) {
  .packages-card {
    flex-direction: column;
  }
}
/* I phone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .packages-card {
    flex-direction: column;
    position: relative;
    right: 10px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .packages-card {
    flex-direction: column;
    /* margin: 20 auto; */
    position: relative;
    right: 10px;
  }
}
/* H400 */
@media (max-width: 360px) {
  .packages-card {
    flex-direction: column;
    /* margin: 20 auto; */
    position: relative;
    right: 18px;
  }
}
