.review-conatiner {
  display: flex;
  justify-content: center;
}
.review-form {
  padding: 10px;
  text-align: center;
  width: 500px;
  border: none;
  border-radius: 10px;
  background-color: rgb(219, 213, 215);
}
.review-form input {
  padding: 10px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}
.review-form button {
  width: 200px;
  border: none;
  height: 30px;
  color: white;
  background-color: rgb(255, 0, 51);
  border-radius: 10px;
  margin: 10px 0;
}
.review-area {
  padding: 10px;
  width: 300px;
  height: 200px;
  border: none;
  height: 200px;
  border-radius: 10px;
}
